.mainContainer {
  display: flex;
  color: #086788;
  flex-direction: row;
  background-color: #f1e4e8;
  height: 10vh;
  padding: 5px;
  width: 100%;
  position: relative;
  bottom: 0;
  justify-content: space-evenly;
  align-items: center;
}

.mainContainer:before {
  content: "";
  position: absolute;
  height: 5px;
  bottom: 10vh;
  width: 80%;
  border-top: 3px solid;
}
.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill {
  font-size: 10px;
}
.telEmailSpot {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  .skill {
    font-size: 20px;
    
  }
  .telEmailSpot {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
  }
  
}
.imgPortrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.coordsContainer {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
