.mainContainerMobile {
  z-index: 99;
  height: 8vh;
  color: #086788;
  display: flex;
  background-color: #f1e4e8;
  align-items: center;
  position: sticky;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.3s;
  justify-content: space-between;
}
.mainContainerMobileScroll {
  z-index: 99;
  height: 8vh;
  color: #086788;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.3s;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
}
.mainContainerMobile nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.8);
}
.mainContainerMobile nav a {
  margin: 10px;
  font-size: 30px;

  font-weight: 700;
}

.mainContainerMobileScroll nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.8);
}
.mainContainerMobileScroll nav a {
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
}
.closeHamburger {
  position: absolute;
  top: 5;
  right: 5px;
}
.mainContainer {
  z-index: 99;
  height: 10vh;
  color: #086788;
  display: flex;
  background-color: #f1e4e8;
  align-items: center;
  position: sticky;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.3s;
  justify-content: space-between;
}
.mainContainerScroll {
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  height: 10vh;
  color: #086788;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 1s;
  justify-content: space-between;
}
.mainContainer nav a {
  margin-left: 0.5rem;
}
.mainContainerScroll nav a {
  margin-left: 0.5rem;
}
.skillsMContainer {
  line-height: 9px;
}
.skillM {
  font-size: 12px;
}
.skill{
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  .skill {
    font-size: 20px;
  }
  .mainContainer nav a {
    margin-left: 1.5rem;
  }
  .skillsContainer {
    line-height: 18px;
  }
}
/*
.leftContainer {
  display:flex;
  flex-direction: column;
  height:8vh;
  justify-content: space-around;
  margin-right: 10px;
}
.middleContainer {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.rightContainer {
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
} */
