.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prestaContainer {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  margin-top: 80px;
  width: 100%;
  color: #086788;
  transition-duration: 0.3s;
}
.presta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.presta:hover {
  cursor: pointer;
}
.massagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 500;
  color: black;
  text-align: left;
  margin: 50px;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.underContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.citations {
  font-style: italic;
}
.imgPresta {
  object-fit: cover;
  margin: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.imgPrestaMini {
  object-fit: cover;
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.imgPortrait {
  object-fit: cover;
  margin: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.imgSetup {
  object-fit: cover;
  margin: 10px;
  height: 250px;
  max-width: 70vw;
  border-radius: 5px;
}
.imgCercleMB {
  object-fit: cover;
  margin: 10px;
  height: 150px;
  border-radius: 5px;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: #086788;
}
.backgroundColor {
}
