.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-weight: 700;
    font-size: 40px;
    margin-top: 60px;
}
.container1{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.imgPortrait{
    object-fit:cover;
    margin: 10px;
    height:250px;
    width: 250px;
    border-radius: 50%;
}
.bioContainer{
    margin: 20px;
    text-align: justify;
    max-width: 800px;

}